@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,600;1,800&display=swap');
// Import all of Bootstrap's CSS
@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";


.login-bg {
  background-repeat: no-repeat;
  background-size: 140% 30% !important;
  background-image: url('../images/login/login_bg.png');

}

.otp-bg {
  background-repeat: no-repeat;
  background-size: cover !important;
  background-image: url('../images/otp/otp_bg.png');

}

.w-6 {
  width: 2rem;
}
.w-7 {
  width: 3rem;
}

.w-4 {
  width: 1rem !important;
}

.h-4 {
  height: 1rem !important;
}

.w-5 {
  width: 1.25rem !important;
}

.h-5 {
  height: 1.25rem !important;
}


.h-6 {
  height: 2rem;
}
.h-7 {
  height: 3rem;
}

.login-card {
  border: none;
  background-color: transparent;
}

.otp-card {
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .login-card {
    border: 1px solid silver;
    background-color: white;
  }
}


@media (min-width: 992px) {

  .login-bg {
    background-size: 100% 100% !important;
    //background-image: url('../images/login/login_bg.png');
  }


  .text-md-white {
    color: #d3d6de !important;
  }

  .text-md-muted {
    color: #6c757d !important;
  }


}

.rounded-lg {
  border-radius: 25px !important;
}

.text-xs {
  font-size: 0.7rem !important;
}

.w-60 {
  width: 60% !important;
}

.feature-icon {
  height: 2.5rem !important;
}

.login-form-control {
  background: #FFFFFF 0 0 no-repeat padding-box !important;
  box-shadow: 0 6px 20px #6E6E6E33 !important;
  border-radius: 68px !important;
}

.form-check-input:focus {
  box-shadow: none !important;
}

.w-1 {
  width: 1rem !important;
}

.h-1 {
  height: 1rem !important;
}

.gap-5 {
  gap: 3rem !important;
}

$gaps: 6, 7, 8, 9, 10, 11, 12, 13, 14, 15;

$screens: sm, md, lg, xl, xxl;

@each $gap in $gaps {
  .gap-#{$gap} {
    gap: #{$gap}rem !important;
  }
}


$widths: 10, 20, 30, 40, 60, 50, 70, 80, 90, 100;
@each $w in $widths {
  .w-#{$w} {
    width: percentage($w/100) !important;
  }
}

@each $screen in $screens {
  @include media-breakpoint-up($screen) {
    @each $gap in $gaps {
      .gap-#{$screen}-#{$gap} {
        gap: #{$gap}rem !important;
      }
    }
    @each $w in $widths {
      .w-#{$screen}-#{$w} {
        width: percentage($w/100) !important;
      }
    }

  }
}


.dotted-line {
  border-bottom: 2px dashed white;
  width: 10%;
  z-index: 1;
}

.z-index-2 {
  z-index: 2 !important;
}

